<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">

    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">

    <title>Register</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/style.css') }}">

</head>

<body class="auth-body">

    <div class="auth-bg"></div>

    <div class="auth-card">

        <h1>
            Create Account
        </h1>

        <p>
            Start generating AI flashcards instantly
        </p>

        <form class="auth-form" method="post">

            <input type="text"
                   placeholder="Full Name"
                   name="name">

            <input type="email"
                   placeholder="Email"
                   name="email">

            <input type="password"
                   placeholder="Password"
                   name="password">

            <button type="submit"
                    class="btn-primary">

                Register

            </button>

        </form>

    </div>

</body>
</html>